<section id="outlets" class="py-12 md:py-20 bg-stone-100">
    <div class="text-center">
        <a
            href="/outlet"
            class="inline-block bg-orange-600 text-white text-lg font-bold py-3 px-8 rounded-full shadow-lg hover:bg-orange-700 hover:shadow-xl transition-all transform hover:-translate-y-1"
        >
            View All Outlets
        </a>
    </div>
</section>
